body {background-color:#007aff;
    color: #fff;
    
    

}
h1{font-size: 18px;
    margin-bottom: 0.5rem;
    margin-left: 30px;
    margin-top: 40px;
line-height: 1.2 ;}
p{
    font-size: 14px;
    margin-left: 30px;

}
